#logo {
  display: inline;
}


.menu{
  display: none;
}

.hamburger-click{
  display: none;
  width: 100vw;
}

.hamburger-click ul {
  display: flex;
  background-color: #86bbd8;
  justify-content: space-around;
  width: 100%;
}

.hamburger-click li a  {
  background-color: #111111 ;
}

#start-button {
  text-decoration: none;
  text-align: center;
  font-size: 40px;
  border: #111111 solid 3px;
  padding: 5px;
  margin: auto;
  display: block;
  background-color: #f4fffd;
  color: #011936;
  opacity: 0.75;
  width: 25vw;
  margin-top: 5vh;
}

.nav-button{
  text-decoration: none;
  text-align: center;
  font-size: 40px;
  border: #111111 solid 3px;
  padding: 5px;
  margin: auto;
  display: block;
  background-color: #f4fffd;
  color: #011936;
  opacity: 0.75;
  width: 25vw;
  margin-top: 5vh;
}

.results-button{
  display: inline-block;
  border: #111111 solid 3px;
}

.overview-button{
  text-decoration: none;
  margin-left: 10%;
}

#results-button-container{
  margin-left: 20%;
}


/* #locationForm {
  display: flex;
  margin-top: 25vh;
  margin-left: auto;
  margin-right: auto;
  width: 230px;
  
} */
input {
  border: none;
  border-bottom: 2px solid #011936;
  background-color: #86bbd8;
  color: #f4fffd;
  opacity: 1;
  display: flex;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  width: 230px;
  height: 50px;
  font-size: 1.5em;
 
}
input[type=date]:focus {
  border: 4px solid #f4fffd;
  transition: 0.8s;
}

input[type=text]:focus {
  border: 4px solid #f4fffd;
  transition: 0.8s;
}

button {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%
  
}

@media only screen and (min-width: 501px){

  
  .icon-menu {
    display: none;
  }

 .menu{
   display: inline;
 }

 .hamburger-click ul {
 display: flex;
 background-color: #011936;
 justify-content: space-around;
 width: 100%;
}







}